/* Imports */ 
@import url("reset.css"); 
@import url("global-forms.css"); 

/* HTML5 tags */ header, section, footer, aside, nav, article, figure {
display: block;
}

/***** Global *****/ 

/* Body */ 

body {
font-family: 'Helvetica Neue', Arial, sans-serif;
margin: 0;
padding: 0;
text-align: left;
}

header h1 {
	
	margin: 10px 0em -20px 15px;
	font-size: 18px;
	font-weight: normal;
	
}

h2 {
	
	font-size: 40px;
	color: #045FB4;
	text-align: center;
	margin: 40px 0 0 0 ;
	font-weight: normal;
	
	
}

header a {
	
	color: #000;
	text-decoration: none;
	margin: 0 0 0 0;
	
	
}

footer {
	
	margin: 0em 2em 2em 2em;
	text-align: right;
	font-size: 12px;
	color: #666;
	
	
}



/* Begin Navigation Bar Styling */
   nav ul{
      width: 100%;
      float: left;
      margin: 0 0 1em 0;
      padding: 0;
      list-style: none;
      #background-color: #f2f2f2;
      border-bottom: 1px solid #666; 
      border-top: 0px solid #ccc; 
	}

   nav li {
	float: right;
	
       }
   nav li a {
      display: block;
	  margin: 0 0 10px 0;
      padding: 0px 40px 0px 0px;
      text-decoration: none;
      font-weight: normal;
      color: #000;
      border-right: 0px solid #ccc; }
   nav li a:hover {
      color: #045FB4;
      background-color: #fff; }
   /* End navigation bar styling. */

.current {
	
	color: #FA5858;

}
